// Page tranistion
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

@font-face{
  font-family:"Campton";
  src: local("Campton"),
  url(../css/fonts/CamptonLight.otf) format("truetype");
}

@font-face{
  font-family:"CamptonBold";
  src: local("Campton"),
  url(../css/fonts/CamptonBold.otf) format("truetype");
}

$font-campton: 'Campton';
$font-campton-bold: 'CamptonBold';
$white: #fff;
$dark: #000;
$theme-dark: #0E1E43;
$line-red: #FF0707;
$theme-red: #EE3C24;
$theme-gray: #666D80;

body {
  font-family: $font-campton;
}

.btn-base {
  width: 175px;
  height: 45px;
  background-color: $theme-red;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  img {
    width: 30px;
    padding-left: 10px;
  }
}

.bg-hero {
  display: flex;
  background: linear-gradient(rgba(21, 37, 81, 0.48), rgba(21, 37, 81, 0.48)), url('/img/carmtek-oil-and-gas.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 550px;

  .bg-text {
    color: #fff;
    align-self: center;
    font-family: $font-campton;
    h2 {
      font-family: $font-campton-bold;
    }
  }
}

article {
  color: var(--base-text-color);
  h4 {
    color: var(--base-color)
  }
  h5 {
    color: var(--base-color);
  }
}

.red-line {
  background-color: $line-red;
  width: 44px;
  border: 2px solid $line-red;
}

@media (min-width: 1000px) {
  .bg-hero {
    height: 100vh;

    h2 {
      width: 778px;
      font-size: 45px;
    }
    p {
      width: 445px;
    }
  }

}

@import 'components/header';
@import 'components/footer';
@import 'components/home';
@import 'components/about';
@import 'components/services';
@import 'components/solutions';
@import 'components/contact';