.bg-hero {
  display: flex;
  background: linear-gradient(rgba(21, 37, 81, 0.48), rgba(21, 37, 81, 0.48)), url('/img/carmtek-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 391px;

  .bg-text {
    color: #fff;
    align-self: center;

    // h2 {
    //   font-famil
    // }

    .btn-base {
      width: 175px;
      height: 45px;
      background-color: var(--base-color);
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      border: 0px;
    }
  }
}

article {
  color: var(--base-text-color);
  h4 {
    color: var(--base-color)
  }
  h5 {
    color: var(--base-color);
  }
}

@media (min-width: 1000px) {
  .bg-hero {
    height: 100vh;

    h2 {
      width: 620px;
      font-size: 51px;
    }
    p {
      width: 350px;
    }
  }

}
