// Page tranistion
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

@font-face{
  font-family:"Campton";
  src: local("Campton"),
  url(../css/fonts/CamptonLight.otf) format("truetype");
}

@font-face{
  font-family:"CamptonBold";
  src: local("Campton"),
  url(../css/fonts/CamptonBold.otf) format("truetype");
}

$font-campton: 'Campton';
$font-campton-bold: 'CamptonBold';
$white: #fff;
$dark: #000;
$theme-dark: #0E1E43;
$line-red: #FF0707;
$theme-red: #EE3C24;
$theme-gray: #666D80;

body {
  font-family: $font-campton;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
}

.btn-base {
  width: 175px;
  height: 45px;
  background-color: $theme-red;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  img {
    width: 30px;
    padding-left: 10px;
  }
}
.img-container {
  .bg-text {
    position: absolute;
    z-index: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    align-self: center;
    font-family: $font-campton;
    h2 {
      font-family: $font-campton-bold;
      font-size: 1.7rem;
    }
    button {
      margin-top: 20px;
    }
  }
}
.bg-hero {
  background: linear-gradient(rgba(14, 30, 67, 0.7), rgba(14, 30, 67, 0.7)), url('/img/carmtek-oil-and-gas.png');
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  .bg-text {
    color: #fff;
    align-self: center;
    font-family: $font-campton;
    h2 {
      font-family: $font-campton-bold;
      font-size: 1.7rem;
    }
  }
}
.bg-hero-2 {
  background: linear-gradient(rgba(14, 30, 67, 0.7), rgba(14, 30, 67, 0.7)), url('/img/carmtek-power-generation-and-distribution.png');
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}
.bg-hero-3 {
  background: linear-gradient(rgba(14, 30, 67, 0.7), rgba(14, 30, 67, 0.7)), url('/img/carmtek-mining.png');
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}
.bg-hero-4 {
  background: linear-gradient(rgba(14, 30, 67, 0.7), rgba(14, 30, 67, 0.7)), url('/img/carmtek-manufacturing.png');
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

article {
  color: var(--base-text-color);
  h4 {
    color: var(--base-color)
  }
  h5 {
    color: var(--base-color);
  }
}

.red-line {
  background-color: $line-red;
  width: 44px;
  border: 1px solid $line-red;
}

@media (min-width: 1000px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .bg-hero {
    height: 100vh;
    .bg-text {
      margin-top: 40px;
      h2 {
        width: 778px;
        font-size: 45px;
      }
      p {
        width: 445px;
      }
      button {
        margin-top: 20px;
      }
  }
 }

 .bg-hero-2 {
   height: 100vh;
 }
 .bg-hero-3 {
   height: 100vh;
 }
 .bg-hero-4 {
   height: 100vh;
 }
 .img-container {
  .bg-text {
    .container {
      padding-left: 120px;
      width: 900px;
    }
    h2 {
      font-family: $font-campton-bold;
      font-size: 45px;
    }
    p {
      width: 445px;
    }
  }
}

}

@import 'components/header';
@import 'components/footer';
@import 'components/home';
@import 'components/about';
@import 'components/services';
@import 'components/solutions';
@import 'components/contact';