
.who-container {
  // padding: 80px 0px;
  padding-top: 60px;
  padding-bottom: 60px;
  .content {
    h2 {
      width: 300px;
      margin-bottom: 10px;
    }
  }
}
.who-we-are {
  height: 90vh;
  padding-top: 50px;
  h2 {
    padding-top: 10px;
    font-family: $font-campton-bold;
    color: $theme-dark;
  }

  p {
    color: $theme-gray;
  }
}


.about-item {
  height: 45vh;
  background: url('/img/carmtek-about-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-item:last-child {
  padding-right: 30px;
  padding-left: 30px;
  height: 56vh;
  background: $theme-red;
  display: flex;
  align-items: center;
  .red-line {
    border: 1px solid $white;
  }
  p {
    color: #fff;
  }
   h2 {
      color: #fff;
      padding-top: 10px;
    }
}

@media (min-width: 1000px) {
  .who-container {
    .content {
      h2 {
        width: 360px;
      }
    }
  }
  .who-we-are {
    height: 70vh;
    .content {
      margin-top: 10px;
      p {
        margin-top: 30px;
      }
    }
  }

  .about-item {
    height: 80vh;
  }
  .about-item:last-child {
    padding-left: 15px;
    padding-right: 15px;
    height: 80vh;
    .content {
      padding: 70px;
    }
  }
  .who-we-are .content {
    margin: auto;
    width: 570px;
  }
}