.contact-text {
  margin-top: 31px;
  margin-bottom: 52px;
  // padding-right: 15px !important;
  // padding-left: 15px !important;
}
.contact-form {
  padding: 20px 0px 0x 0px;

  h2 {
    padding-bottom: 22px;
    color: $theme-dark;
    font-family: $font-campton-bold;
  }
  .form-half{
    background-color:  #fff;
    form {
      padding: 10px 0px;
      color: #000;
      button{
        width: 95%;
        margin: auto;
      }
    }
  }
}

.contact-info {
  // padding-top: 20px;
  color: $theme-gray;
  h2 {
    color: $theme-dark;
    font-family: $font-campton-bold;
    border-bottom: 1px solid $theme-gray;
    padding: 5px;
  }
  h5 {
    font-family: $font-campton;
    font-weight: 600;
    color: $theme-dark;
    font-size: 16px;
  }
}
@media (min-width: 1000px) {
  .contact-info {
    padding: 0px;

    .form-half{
      background-color:  #fff;
      form {
        padding: 75px 120px;
        color: #000;
        button{
          width: 100%;
        }
        span {
          color: var(--base-color);
        }
      }
    }
  }
  .contact-text {
    margin-top: 40px;
    margin-bottom: 80px;
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .contact-form {
    padding-bottom: 40px;
  }
}