.drop-link {
  box-shadow: 0px 0px 4px 1px rgba(35, 51, 111, 0.24);
  display: none;
  position: absolute;
  width: 400px;
  // padding: 20px;
  z-index: 1000;
  background-color: $white;
  border-radius: 20px;
  transition: 0.5s;
  ul {
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 21px;
    padding-top: 10px;
    li {
      padding: 10px;
      border-bottom: 1px solid $theme-dark;
      a {
        color: $theme-dark;
        font-family: $font-campton;
        font-size: 13px;
        padding: 0px !important;
        display: flex;
        justify-content: space-between;
        img {
          padding-left: 20px;
        }
      }
    }
  }
}
.drop-link {
  transition: 0.4s;
  opacity: 0.3;
}

.dropdown:hover .drop-link {
  display: block;
  transition: 0.2s;
  opacity: 1;
}

.dropdown .nav-link-img {
  transition: 0.4s;
  width: 17px;
  padding-left: 10px;
}

.dropdown:hover .nav-link-img {
  transition: 0.3s;
  transform: rotate(-179deg);
  padding-right: 10px;
  width: 17px;
  padding-left: 0px;
}


.header-container {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: transparent;
  // box-shadow: 0px 0px 4px 1px rgba(35, 51, 111, 0.24);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1;


  .the-header {
    display: flex;
    color: var(--base-color);
    padding: 20px 18px;
    justify-content:space-between;

    .nav-img img {
      width: 196px;
    }

    .spacer {
      /* flex: 1; */
      width: 129px;
    }
  
  
    .nav-list {
      list-style: none;
      padding: 0;
      margin-top: 15px;
      display: flex;
      font-size: 13px;

      a {
        font-family: $font-campton;
        padding: 20px;
        // color: $theme-dark;
        :hover {
          text-decoration: none;
        }
      }
    }
  }
}

.onScroll {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: $white;
  z-index: 1000;
  box-shadow: 0px 0px 4px 1px rgba(35, 51, 111, 0.24);


  .the-header {
    display: flex;
    color: var(--base-color);
    padding: 20px 18px;
    justify-content:space-between;

    .nav-img img {
      width: 196px;
    }

    .spacer {
      /* flex: 1; */
      width: 129px;
    }
  
  
    .nav-list {
      list-style: none;
      padding: 0;
      margin-top: 15px;
      display: flex;
      font-size: 13px;

      a {
        font-family: $font-campton;
        padding: 20px;
        color: $theme-dark;
        :hover {
          color: $theme-dark;
          text-decoration: none;
        }
      }
    }
  }
}

// Mobile

.window {
  box-shadow: 0 0 65px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 3px;
  background: #F1F1F1;
}
.window .header {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 72px;
  width: 100%;
  background: #FFF;
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  z-index: 2;
}
.window .header .burger-container {
  position: relative;
  height: 40px;
  width: 50px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.icon-apple img {
  width: 160px;
  padding-left: 20px;
  padding-top: 10px;
}
.window .header .burger-container #burger {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}
.window .header .burger-container #burger .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #000;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0s;
}
.window .header .burger-container #burger .bar.topBar {
  transform: translateY(0px) rotate(0deg);
}
.window .header .burger-container #burger .bar.btmBar {
  transform: translateY(6px) rotate(0deg);
}

.window .header .icon-apple {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.window .header .icon.icon-bag {
  right: 0;
  top: 0;
  left: auto;
  transform: translateX(0px);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.65s;
}
.window .header ul.menu {
  position: relative;
  display: block;
  padding-left: 20px;
  list-style: none;
  margin-top: 30px;
}

.window .header .contact-info {
  padding-top: 20px;
  padding-left: 20px;
  .text:nth-child(1) {
    color: #ACABAB;
    font-size: 13px;
    font-family: $font-campton;
  }
  .text {
    color: $theme-dark;
    font-size: 18px;
    font-family: $font-campton;
  }
  .colored-line {
    background-color: #C4C4C4;
    padding: 1px;
    position: relative;
    bottom: 11px;
    width: 258px;
    opacity: 40%;
  }
}

.window .header ul.menu li.menu-item {
  /* border-bottom: 1px solid #333; */
  margin-top: 5px;
  transform: scale(1.15) translateY(-30px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.window .header ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.49s;
}
.window .header ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.42s;
}
.window .header ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.35s;
}
.window .header ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.28s;
}
.window .header ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.21s;
}
.window .header ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.14s;
}
.window .header ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.07s;
}

.window .header ul.menu li.menu-item a {
  display: block;
  position: relative;
  color: $theme-dark;
  font-family: $font-campton !important;
  font-weight: 100;
  text-decoration: none;
  font-size: 22px;
  line-height: 1.80;
  font-weight: bold;
  width: 100%;
}

.window .header ul.menu li.menu-item a:active,
.window .header ul.menu li.menu-item a:hover,
.window .header ul.menu li.menu-item a.router-link-exact-active {
  color: $theme-dark
}
.window .header.menu-opened {
  height: 100%;
  background-color: #fff;
  transition: all 0.3s ease-in, background 0.5s ease-in;
  transition-delay: 0.25s;
}
.window .header.menu-opened .burger-container {
  transform: rotate(90deg);
}
.window .header.menu-opened .burger-container #burger .bar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.2s;
}
.window .header.menu-opened .burger-container #burger .bar.topBar {
  transform: translateY(4px) rotate(45deg);
}
.window .header.menu-opened .burger-container #burger .bar.btmBar {
  transform: translateY(3px) rotate(-45deg);
}
.window .header.menu-opened ul.menu li.menu-item {
  transform: scale(1) translateY(0px);
  opacity: 1;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.27s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.34s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.41s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.48s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.55s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.62s;
}
.window .header.menu-opened ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.69s;
}
.window .header.menu-opened .icon.icon-bag {
  transform: translateX(75px);
  transition-delay: 0.3s;
}

.window .content::-webkit-scrollbar {
  display: none;
}
.window .content h2 {
  margin-bottom: 0px;
  letter-spacing: 1px;
}
.window .content img {
  width: 95%;
  position: relative;
  display: block;
  margin: 75px auto 75px;
}
.window .content img:nth-of-type(2) {
  margin: 75px auto;
}