
.home {
  .img-slides {
    overflow: hidden;
  }
  .bg-hero {
    .red-line {
      // margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  .bg-hero-2 {
    .red-line {
      // margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  .bg-hero-3 {
    .red-line {
      // margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  .bg-hero-4 {
    .red-line {
      // margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  .slick-slide img {
    display: inline !important;
  }
}

.end-end {
  padding-top: 52px;
  padding-bottom: 20px;
  .end-text {
    margin: auto;
    h2 {
      color: $theme-dark;
      padding-top: 10px;
      font-family: $font-campton-bold;
    }
    p {
      color: $theme-gray;
    }
  }
  .btn-container {
    .btn-base {
      background-color: transparent ;
      border: 0px;
      outline: none !important;
      color: $theme-red;
    }
  }
  .services {
    margin-top: 20px;
    display: block;
    .service-item {
      width: 100%;
    }
  }
  .img-thumb {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
  }
  p {
    padding-bottom: 20px;
    padding-top: 10px;
    color: $theme-dark;
    font-size: 15px;
  }
}

.home-about {
  background: linear-gradient(rgba(21, 37, 81, 0.48), rgba(21, 37, 81, 0.48)), url('/img/carmtek-bg-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
  color: $white;
  display: flex;
  align-items: center;
  .container {
    padding-top: 30px;
    h5 {
      font-family: $font-campton;
      font-weight: normal;
      padding-top: 10px;
      padding-bottom: 30px;
    }
    p {
      padding-bottom: 20px;
    }
  }
}

.home-solutions {
  background-color: $white;
  padding-top: 52px;
  padding-bottom: 52px;
  color: $theme-gray;
  .solution-item {
    h5 {
      color: $theme-dark;
      font-family: $font-campton;
      font-weight: normal;
      padding-top: 10px;
    }
    h3 {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    p {
      padding-bottom: 10px;
    }
  }
  .solution-item:last-child {
    padding-top: 15px;
    a {
      color: $theme-dark;
    }

    h6{
      font-family: $font-campton-bold;
      color: $theme-dark;
      margin-top: 20px;
    }

    img {
      width: 19px;
    }

    .solution-link {
      border: 1px solid #C4C4C4;
      padding: 15px;
      width: 260px;
      margin: 15px auto;
      .img-header {
        padding: 107px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
}

@media (min-width: 1000px) {
  .end-end {
    padding-top: 90px;
    .red-line {
      margin: auto;
    }
    .end-text {
      h2 {
        width: 751px;
        margin: auto;
      }
      p {
        width: 406px;
        margin: auto;
        text-align: center;
      }
    }
    .btn-container {
      width: 300px;
      margin: 0px auto 25px auto;
      display: flex;
      justify-content: center;
    }
    .services {
      display: flex;
      margin-bottom: 20px;
      .service-item {
        width: 100%;
        padding: 5px;
      }
    }
    .img-thumb {
      height: 40vh;
    }
    p {
      // width: 242px;
      margin: auto;
      font-size: 16px;
      padding-left: 10px;
    }
  }

  .home-about {
    height: 800px;
    .container {
      display: flex;
      justify-content: end;
      .about-content {
        width: 550px;
        h3 {
          width: 300px;
        }
        p {
          width: 339px;
          padding-bottom: 20px;
        }
      }
    }
  }

  .home-solutions {
    padding-bottom: 90px;
    padding-top: 90px;
    .solution-item {
      h3 {
        width: 400px;
      }
      p {
        width: 353px;
      }
    }
    .solution-item:last-child {
      display: flex;
      justify-content: space-between;
      a {
        color: $theme-dark;
      }
  
      h6{
        width: 235px;
        padding-top: 25px;
        padding-bottom: 20px;
      }
  
      .solution-link {
        width: 345px;
        padding: 30px;
      }
    }
  }
}