
.our-services{
  background-color: $theme-dark;
  padding-bottom: 30px;
  .our-services-text {
    color: $white;
    padding: 40px 0px 10px 0px;
    h2 {
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: $font-campton-bold;
    }
  }
}

.service-cards {
  padding-top: 40px;
  padding-bottom: 40px;

  a{
    color: #000;
  }
  .card {
    border-radius: 0px;
    border: 0px;
    height: 49vh;
  }
  .services{
    background-color: #fff;
    margin-bottom: 10px;
  }
  .services-thumbnail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 49vh;
    display: flex;
    align-items: flex-end;
    h5 {
      color: $white;
      font-family: $font-campton-bold;
      padding-left: 20px;
    }
  }
}

// Sub servvices
.services-description {
  h5 {
    color: $theme-dark;
    font-family: $font-campton;
    font-weight: 800;
  }
  h4 {
    color: $theme-dark;
    font-family: $font-campton;
    font-weight: 900;
  }
  .container {
    padding: 20px 30px;
    article {
      padding-bottom: 10px;
      p {
        color: $theme-gray;
      }
    }
  }

  ul {
    color: $theme-gray;
  }
  .service-img {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
  }
}


  .card {
    border: 0px;
  }

  .other-services {
    padding-bottom: 35px;
    .our-services-text {
      padding: 40px 0px 10px 0px;
    }
    h2 {
      color: $theme-dark;
      text-align: center;
      font-family: $font-campton-bold;
    }
    .other-services-items {
      .img-thumb {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
      }
      h5 {
        font-family: $font-campton;
        padding-bottom: 20px;
        padding-top: 20px;
        color: $theme-dark;
        font-weight: 900;
      }
    }
  }

@media (min-width: 1000px) {
  .our-services {
    height: 85vh;
    .our-services-text {
      padding-top: 60px;
      text-align: center;
      width: 865px;
      margin: auto;
      .red-line {
        margin: auto;
      }
      p {
        width: 602px;
        margin: auto;
        border-left: 2px solid var(--base-color);
      }
    }
  }
  .service-cards {
    position: relative;
    top: -130px;
    padding: 0px;
    .services-thumbnail {
      h5 {
        width: 245px;
      }
    }
  }
  .service-cards .services {
    margin-bottom: 20px;
  }

  // Sub services

  .services-description {
    .container {
      padding: 88px 0px 10px 0px;
      background-color: $white;

       article {
        padding: 0px 90px 0px 90px;
      }
    }

    .service-img {
      margin-top: 75px;
      height: 60vh;
    }
  }

  .other-services {
    margin-top: 52px;
    padding-bottom: 50px;
    h5 {
      width: 293px;
      margin: auto;
    }
    .other-services-items {
      .img-thumb {
        height: 60vh;
      }
    }
  }
}